* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

a:link,
a:visited,
a:active a:hover {
  text-decoration: none;
  color: $color-texto;
}

@font-face {
  font-family: Montserrat;
  src: url("../IMG/Montserrat-Italic-VariableFont_wght.ttf");
}

.logoWeb {
  width: 10rem;
  margin-right: 22rem;
}

.button {
  font-size: 4rem;
}

.iconos {
  width: 45%;
  height: 5rem;
}

.navbar {
  background-color: $color-container;
}

.contenedorNavbar {
  height: 12rem;
}


.contenedorHome {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items:flex-end;
}

.nav-link {
  font-size: 3rem;
  margin: 3.5rem;
  display: inline-flex;
}
.navbar-nav {
  background-color: $color-container;
}

.carritoDeCompra {
  width: 8rem;
  height: 7rem;
  margin: 2rem 4rem;
}

.textoInicioPrincipal {
  grid-area: textoInicioPrincipal;
  height: 20rem;
  display: flex;
  align-items: center;
  .textoInicioDetalle {
    background-color: $color-detalles;
    width: 1rem;
    height: 15rem;
    border-radius: 50px 50px 50px 50px;
    margin-left: 14rem;
  }
  .paddigTextoDeInicio {
    margin-left: 2rem;
    .textoInicio {
      font-size: 5rem;
      color: $color-texto;
    }
  }
}

.imagenInicio {
  height: 66rem;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  align-items: flex-end;
}

.textoInicioCircle {
  position: absolute;
  background-image: radial-gradient($color-circulos);
  top: 20rem;
  left: 20rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;

}

input {
  caret-color: $color-texto;
}
textarea {
  caret-color: $color-texto;
}

.textoInicioCircle2 {
  position: absolute;
  background-image: radial-gradient($color-circulos);
  top: -0px;
  right: -80px;
  width: 100rem;
  height: 100rem;
  border-radius: 50%;
  z-index: -1;

}

.imagenInicio2 {
  position: absolute;
  right: 2rem;
  bottom: 0;
}

.pieDePagina {
  width: 100%;
  padding: 2rem 0;
  background-color: $color-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: pieDePagina;
}

.grupoFooter {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.box figure img {
  width: 15rem;
  margin: 2rem;
}

.textoFooter {
  color: $color-texto;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.textoFooter2 {
  color: $color-texto;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.redSocial img {
  width: 20rem;
}

.pieDePagina2 {
  color: $color-texto;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.mapa {
  width: 100%;
  height: 50rem;
}

iframe {
  width: 200%;
  height: 50rem;
}

.textoFormulario {
  width: 25%;
}
