.contenedorNosotros1 {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-block: 2rem;
}

.contenedorNosotros2 {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-block: 3rem;

}
.contenedorNosotros3 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.titleNosotros {
  font-size: 3rem;
  color: $color-texto;
}

.textoNosotros {
  margin-top: 1.5rem;
  font-size: 1.9rem;
  color: $color-texto;
}

.card {
  height: 30rem;
  padding: 6rem;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
  -webkit-border-radius: 15px;
  display: inline-block;
  z-index: -1;
}

.card3 {
  min-height: 30rem;
  padding: 6rem;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
  -webkit-border-radius: 15px;
  display: inline-block;
  z-index: -1;
}

.card2 {
  max-width: 70rem;
  height: 30rem;
  padding: 6rem;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
}

