
.contenedorNosotros {
  grid-area: contenedorNosotros;
  display: flex;
  justify-content: space-evenly;
  margin: 12rem 15rem 4rem;
}

.contenedorNosotros2 {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}

.titleNosotros {
  font-size: 4rem;
  color: $color-texto;
}

.textoNosotros {
  margin-top: 1.5rem;
  font-size: 1.9rem;
  color: $color-texto;
}

.card {
  margin: 3rem;
  padding: 6rem;
  border-radius: 15px;
  box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
  -webkit-border-radius: 15px;

}

.card2 {
  max-width: 76rem;
  height: 30rem;
  padding: 6rem;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.grupoImagen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3rem;
  grid-area: grupoImagen;
}

.edicionImagenes {
  @include CardProductos;
  box-shadow: 2px 2px 2px 2px rgb(205, 212, 212);
  transition: all 0.2s ease-out;
  .edicionImagenes:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.11), 1rem 2rem 2rem;
  }
}
