
@media screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 1fr 0.1fr;
    min-height: 100vh;
    grid-template-areas:
      "nav nav nav"
      "textoInicioPrincipal textoInicioPrincipal textoInicioPrincipal "
      "imagenInicio imagenInicio imagenInicio"
      "pieDePagina pieDePagina pieDePagina";
  }


  #nav {
    background-color: $color-container;
    width: 100%;
    height: 18rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    margin-right: -11rem;
    z-index: 100;
  }

  .textoInicioPrincipal {
    grid-area: textoInicioPrincipal;
    height: 11rem;
    display: flex;
    justify-content: flex-end;
  }

  .textoInicioDetalle {
    background-color: $color-detalles;
    width: 1rem;
    height: 7rem;
    border-radius: 50px 50px 50px 50px;

  }

  .paddigTextoDeInicio {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .textoInicio {
    font-size: 1rem;
    color: $color-texto;
  }

  .imagenInicio {
    position: relative;
    grid-area: imagenInicio;
    height: 50rem;
  }

  .textoInicioCircle {
    position: absolute;
    background-color: $color-circulos;
    top: -0rem;
    left: 25rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  .textoInicioCircle2 {
    position: absolute;
    background-color: $color-circulos;
    top: 14rem;
    right: -15rem;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: -1;
  }

  .imagenInicio2 {
    position: absolute;
    bottom: -1rem;
    right: -20rem;
    z-index: -1;
  }

  .imagenInicio2 img {
    width: 85%;
  }

  .pieDePagina {
    width: 100%;
    background-color: $color-container;
    grid-area: pieDePagina;
  }

  .grupoFooter {
    width: 100%;
    max-width: 120rem;
    margin: auto;
  }

  .box {
    padding: 0.3rem;
  }

  .box figure img {
    width: 8rem;
  }

  .textoFooter {
    color: $color-texto;
    margin-bottom: 25px;
    font-size: 1.7rem;
  }

  .textoFooter2 {
    color: $color-texto;
    margin: 0 auto;
    font-size: 1rem;
  }

  .redSocial img {
    width: 9rem;
  }

  .pieDePagina2 {
    color: $color-texto;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
  }

  .gridNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 55% 25% 25%;
    grid-template-areas:
      "nav nav nav"
      "gridConterdorNosotros gridConterdorNosotros gridConterdorNosotros "
      "gridConterdorNosotros2 gridConterdorNosotros2 gridConterdorNosotros2"
      "pieDePagina pieDePagina pieDePagina";
  }

  .contenedorNosotros {
    grid-area: gridConterdorNosotros;
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem 0rem;
    height: 90%;
  }

  .contenedorNosotros2 {
    grid-area: gridConterdorNosotros2;
    grid-template-areas: none;
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem;
    height: 5%;
  }

  .titleNosotros {
    font-size: 1.5rem;
    color: $color-texto;
  }

  .textoNosotros {
    font-size: 1rem;
    color: $color-texto;
  }

  .card {
    margin: 2rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .card2 {
    margin: 2rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .divcCircleContactos2 {
    position: absolute;
    background-color: $color-circulos;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    top: -30rem;
    left: 1rem;
    z-index: -1;
  }

  .divcCircleContactos3 {
    position: absolute;
    background-color: $color-circulos;
    width: 5rem;
    height: 5rem;
    top: -48rem;
    left: 36rem;
    border-radius: 50%;
    z-index: -1;
  }

  .gridInsumos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 3fr 0.2fr;
    grid-template-areas:
      "nav nav nav"
      "grupoImagen grupoImagen grupoImagen"
      "pieDePagina pieDePagina pieDePagina";
  }

  .grupoImagen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: grupoImagen;
  }

  .edicionImagenes {
    margin: 3rem 1rem;
    padding: 2rem;
    font-size: 2.5rem;
    border-radius: 15px;
    color: $color-texto;
    box-shadow: 2px 2px 2px 2px rgb(205, 212, 212);
  }

  .edicionImagenes img {
    width: 50%;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.1fr 1fr 0.1fr;
    grid-template-areas:
      "nav nav nav"
      "textoInicioPrincipal textoInicioPrincipal textoInicioPrincipal "
      "imagenInicio imagenInicio imagenInicio"
      "pieDePagina pieDePagina pieDePagina";
  }

  #nav {
    background-color: $color-container;
    width: 100%;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .menu {
    display: inline-block;
    text-align: left;
    padding: 0 0 0 12rem;
    z-index: 100;
  }

  .listaDeMenu {
    display: inline-block;
    color: $color-texto;
    padding: 1rem;
    font-size: 2.5rem;
    text-decoration: none;
  }

  .carritoDeCompra {
    width: 5rem;
    height: 5rem;
    padding: 3rem 1rem 2rem;
  }

  .textoInicioDetalle {
    background-color: $color-detalles;
    width: 1rem;
    height: 10rem;
    border-radius: 50px 50px 50px 50px;
    margin-left: 25rem;
    -webkit-border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -ms-border-radius: 50px 50px 50px 50px;
    -o-border-radius: 50px 50px 50px 50px;
  }

  .paddigTextoDeInicio {
    margin-left: 1rem;
  }

  .textoInicio {
    font-size: 3.5rem;
    color: $color-texto;
  }

  .imagenInicio {
    position: relative;
    overflow: hidden;
    grid-area: imagenInicio;
  }

  .imagenInicio {
    position: relative;
    grid-area: imagenInicio;
    height: 54rem;
  }

  .textoInicioCircle {
    position: absolute;
    background-color: $color-circulos;
    top: -0rem;
    left: 2rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  .textoInicioCircle2 {
    position: absolute;
    background-color: $color-circulos;
    top: 1rem;
    right: -19rem;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    z-index: -1;
  }

  .imagenInicio2 {
    position: absolute;
    bottom: -1rem;
    right: -35rem;
  }

  .imagenInicio2 img {
    width: 85%;
  }

  .gridNosotros {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 55% 25% 25%;
    grid-template-areas:
      "nav nav nav"
      "gridConterdorNosotros gridConterdorNosotros gridConterdorNosotros "
      "gridConterdorNosotros2 gridConterdorNosotros2 gridConterdorNosotros2"
      "pieDePagina pieDePagina pieDePagina";
  }

  .contenedorNosotros {
    grid-area: gridConterdorNosotros;
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem 0rem;
    height: 75%;
  }

  .contenedorNosotros2 {
    grid-area: gridConterdorNosotros2;
    grid-template-areas: none;
    display: flex;
    flex-direction: column;
    margin: 3rem 0rem;
    height: 1%;
  }

  .titleNosotros {
    font-size: 2rem;
    color: $color-texto;
  }

  .textoNosotros {
    font-size: 1.5rem;
    color: $color-texto;
  }

  .card {
    margin: 2rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .card2 {
    margin: 2rem;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(205, 212, 212);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .divcCircleContactos2 {
    position: absolute;
    background-color: $color-circulos;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    top: -30rem;
    left: 1rem;
    z-index: -1;
  }

  .divcCircleContactos3 {
    position: absolute;
    background-color: $color-circulos;
    width: 5rem;
    height: 5rem;
    top: -48rem;
    left: 36rem;
    border-radius: 50%;
    z-index: -1;
  }

  .gridInsumos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 2fr 0.2fr;
    grid-template-areas:
      "nav nav nav"
      "grupoImagen grupoImagen grupoImagen"
      "pieDePagina pieDePagina pieDePagina";
  }

  .grupoImagen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-area: grupoImagen;
    width: 94%;
  }

  .edicionImagenes {
    margin: 3rem 1rem;
    padding: 2rem;
    font-size: 2.5rem;
    border-radius: 15px;
    color: $color-especial;
    box-shadow: 2px 2px 2px 2px rgb(205, 212, 212);
  }
}
